
#title{
    color:blue;
    text-align:CENTER;
}

/*Centers image*/
IMG.properties {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

IMG.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

    position:absolute;
    z-index: 1;
}

IMG.mainpic{
    display: block;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    z-index: -1;
}

